<div class="petition-content">
  <p>
    <strong>Created by:</strong>
    <%= @petition.user.name %>
  </p>

  <table>
    <tr>
      <th>Title</th>
    </tr>
    <tr>
      <td><%= @petition.title %></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Content</th>
    </tr>
    <tr>
      <td><%= @petition.body %></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Votes/Target</th>
    </tr>
    <tr>
      <td><%= @petition.votes.count %> / <%= @petition.target %></td>
    </tr>
  </table>

  <table>
    <tr>
      <th>Destroy?</th>
    </tr>
    <tr>
      <td>
        <p>
          <%= button_to 'Delete petition', petition_path,
                        :confirm => 'Are you sure?',
                        :method => :delete %>
        </p></td>
    </tr>
  </table>
</div>