<h2>Enter the data about your petition:</h2>

<%= form_for :petition, url: petitions_path do |f| %>
    <p>
      <%= f.label 'Title (min 5char):' %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label 'Content (min 20char):' %><br>
      <%= f.text_area :body %>
    </p>

    <p>
      <%= f.label 'Target # of votes (min 1):' %><br>
      <%= f.text_field :target %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>