<div class="petition-content">
  <p>
    <strong>Created by:</strong>
    <%= @petition.user.name %>
  </p>

  <table>
    <tr>
      <th>Title</th>
    </tr>
    <tr>
      <td><%= @petition.title %></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Content</th>
    </tr>
    <tr>
      <td><%= @petition.body %></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Votes/Target</th>
    </tr>
    <tr>
      <td><%= @petition.votes.count %> / <%= @petition.target %></td>
    </tr>
  </table>

  <table>
    <tr>
      <th>Voting</th>
    </tr>
    <tr>
      <td>
        <% if current_user.nil? %>
            <p>Sign in to Vote</p>

        <% elsif @voted %>
            <p>You have voted!</p>

        <% else %>
            <%= form_for :vote, url: petition_vote_path(@petition) do |f| %>
                <p>
                  <%= f.submit 'Give your Vote!' %>
                </p>
            <% end %>
        <% end %></td>
    </tr>
  </table>
</div>